backend-n8n/workflows/cargar-documentos.json
{
  "name": "Cargar Documentos",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/files/continuidad_de_estudios/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        224,
        80
      ],
      "id": "ef51f17a-5fb1-46a5-a52b-ccca510ed45c",
      "name": "Leer PDFs - Continuidad Estudios"
    },
    {
      "parameters": {
        "fileSelector": "/files/general/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        208,
        336
      ],
      "id": "d9cc0625-c326-4ca1-9f89-cace168be13a",
      "name": "Leer PDFs - General"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        464,
        -128
      ],
      "id": "dec02fe8-81cc-4b76-bd70-e7810acbe5ef",
      "name": "Extraer PDF - Laborales"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        80
      ],
      "id": "113526f8-ecb1-4812-87f4-56b750a5eefc",
      "name": "Extraer PDF - Estudios",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        336
      ],
      "id": "02893144-271a-45d5-ab01-1520450bdd9c",
      "name": "Extraer PDF - General"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extraer PDF - Laborales').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "categoria",
                "value": "fines_laborales"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        -16
      ],
      "id": "505ab2fe-c173-4377-b29d-7e16f6ff0cfc",
      "name": "Loader - Fines Laborales"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extraer PDF - Estudios').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "categoria",
                "value": "continuidad_estudios"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        192
      ],
      "id": "f067ed36-56dd-449a-a53b-4b0001ed1a5a",
      "name": "Loader - Continuidad Estudios"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extraer PDF - General').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "categoria",
                "value": "general"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        448
      ],
      "id": "a26449f1-e60f-443a-a996-cdccf11f6415",
      "name": "Loader - General"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        672,
        592
      ],
      "id": "2a47a031-6590-4600-927e-94f421e2c8c2",
      "name": "Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "fines_laborales"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1072,
        -128
      ],
      "id": "8fec230f-2760-46a3-8cce-c27a9e3adc55",
      "name": "Qdrant - Fines Laborales",
      "credentials": {
        "qdrantApi": {
          "id": "FoDqVh8Pm8nqJ58a",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "continuidad_estudios"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1072,
        80
      ],
      "id": "797f1567-5e50-4dba-b832-372a66e40e93",
      "name": "Qdrant - Continuidad Estudios",
      "credentials": {
        "qdrantApi": {
          "id": "FoDqVh8Pm8nqJ58a",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "general"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1104,
        336
      ],
      "id": "ecf03c97-fd56-4aaf-bed9-ee7e13bc73c9",
      "name": "Qdrant - General",
      "credentials": {
        "qdrantApi": {
          "id": "FoDqVh8Pm8nqJ58a",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        512
      ],
      "id": "01491a19-f422-49fa-9872-7b9fd08b6235",
      "name": "Embeddings Google Gemini",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "9losH6MxKZTzLBc2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/files/fines_laborales/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        208,
        -128
      ],
      "id": "fa30106e-c9cd-4485-963e-eca7b8819b10",
      "name": "Lee los PDFs - Fines Laborales"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        80
      ],
      "id": "83d0ed9a-4c4e-4448-90c3-b603b048cbf4",
      "name": "Iniciar el flujo"
    }
  ],
  "pinData": {},
  "connections": {
    "Leer PDFs - Continuidad Estudios": {
      "main": [
        [
          {
            "node": "Extraer PDF - Estudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer PDFs - General": {
      "main": [
        [
          {
            "node": "Extraer PDF - General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF - Laborales": {
      "main": [
        [
          {
            "node": "Qdrant - Fines Laborales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF - Estudios": {
      "main": [
        [
          {
            "node": "Qdrant - Continuidad Estudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF - General": {
      "main": [
        [
          {
            "node": "Qdrant - General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loader - Fines Laborales": {
      "ai_document": [
        [
          {
            "node": "Qdrant - Fines Laborales",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Loader - Continuidad Estudios": {
      "ai_document": [
        [
          {
            "node": "Qdrant - Continuidad Estudios",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Loader - General": {
      "ai_document": [
        [
          {
            "node": "Qdrant - General",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Loader - Fines Laborales",
            "type": "ai_textSplitter",
            "index": 0
          },
          {
            "node": "Loader - Continuidad Estudios",
            "type": "ai_textSplitter",
            "index": 0
          },
          {
            "node": "Loader - General",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant - Fines Laborales",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant - Continuidad Estudios",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant - General",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Lee los PDFs - Fines Laborales": {
      "main": [
        [
          {
            "node": "Extraer PDF - Laborales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar el flujo": {
      "main": [
        [
          {
            "node": "Lee los PDFs - Fines Laborales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer PDFs - Continuidad Estudios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer PDFs - General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ebf0ae74-447d-43b2-8780-51c6e445387c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30722f337168db714d2bcb5e70369b51ca932b7b864906159f4c0fc1b2f9639a"
  },
  "id": "bPJYXHMEc0drG88O",
  "tags": []
}