backend-n8n/workflows/cargar-documentos.json
{
  "name": "Cargar Documentos",
  "nodes": [
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -480,
        880
      ],
      "id": "501541ae-fb8d-47e9-b791-42b88c4eeb9b",
      "name": "Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        800
      ],
      "id": "8ce3e159-17c6-4801-a52f-1d86209edb3b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "9losH6MxKZTzLBc2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -576,
        -112
      ],
      "id": "fd4f4c6c-1a08-4d3b-9eae-cb2d37a93732",
      "name": "Loop Laborales"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -576,
        208
      ],
      "id": "abe804ec-51b5-42c3-9eda-900d871e9142",
      "name": "Loop Estudios"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -576,
        480
      ],
      "id": "bfbf8e3c-d82d-4bc5-b02b-2c2226001e6a",
      "name": "Loop General"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        256
      ],
      "id": "fea7dcdb-2cfd-4ef2-8da6-09696a30b70c",
      "name": "Iniciar flujo"
    },
    {
      "parameters": {
        "fileSelector": "/files/fines_laborales/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1056,
        48
      ],
      "id": "0b6da99a-5ffd-42f2-af5e-9dd52d4a01a2",
      "name": "Lee Los PDFs Laborales"
    },
    {
      "parameters": {
        "fileSelector": "/files/continuidad_de_estudios/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1056,
        256
      ],
      "id": "41ac64e8-6349-4d64-83a1-344160b447ad",
      "name": "Lee los PDFs  Continuidad Estudios"
    },
    {
      "parameters": {
        "fileSelector": "/files/general/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1056,
        496
      ],
      "id": "7490b6a5-8d37-4226-a607-27f2238c2f95",
      "name": "Lee PDFs General"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -816,
        48
      ],
      "id": "f21a3244-6997-4938-90c2-f60df1632d41",
      "name": "Extraer PDF  Laborales"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -816,
        272
      ],
      "id": "0dd9fc0f-b6b7-400d-b1a7-895781012a4c",
      "name": "Extraer PDF  Estudios"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -816,
        496
      ],
      "id": "f5242554-f6f4-49ed-8a81-87c65c7fd5d3",
      "name": "Extraer PDF  General"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "fines_laborales",
          "cachedResultName": "fines_laborales"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -144,
        -96
      ],
      "id": "8d0a6b6b-2737-4248-ba08-dc41453e44fe",
      "name": "Qdrant  Laborales",
      "credentials": {
        "qdrantApi": {
          "id": "FoDqVh8Pm8nqJ58a",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "continuidad_estudios",
          "cachedResultName": "continuidad_estudios"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -128,
        224
      ],
      "id": "69188fa3-915c-4958-91b4-2ccd6ef966cb",
      "name": "Qdrant  Estudios",
      "credentials": {
        "qdrantApi": {
          "id": "FoDqVh8Pm8nqJ58a",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "general",
          "cachedResultName": "general"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -128,
        480
      ],
      "id": "5e5083cf-3cc3-462d-87b7-21912be8647f",
      "name": "Qdrant  General",
      "credentials": {
        "qdrantApi": {
          "id": "FoDqVh8Pm8nqJ58a",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        256
      ],
      "id": "3d8c7b05-defb-4024-ac00-e64e68fd5d05",
      "name": "Espera Estudios",
      "webhookId": "a0000000-0000-0000-0000-00000000wa02"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        480
      ],
      "id": "6b12f020-73e0-473c-bb76-9b4766dcebff",
      "name": "Espera General",
      "webhookId": "a0000000-0000-0000-0000-00000000wa03"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extraer PDF  Laborales').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "categoria",
                "value": "fines_laborales"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -400,
        144
      ],
      "id": "7fc69d11-cb8f-4d7d-a1eb-f85ad1e73a2d",
      "name": "Loader  Fines Laborales"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extraer PDF  Estudios').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "categoria",
                "value": "continuidad_estudios"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -416,
        336
      ],
      "id": "638d68f9-8aaf-4ed3-928f-f0f872d5d2db",
      "name": "Loader  Continuidad Estudios"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extraer PDF  General').item.json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "categoria",
                "value": "general"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -416,
        688
      ],
      "id": "20370cec-7e0b-405f-89d0-8eaf11f8dc1f",
      "name": "Loader General"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        176,
        -80
      ],
      "id": "86d2d804-4906-437d-ac5c-d2b7c472e867",
      "name": "Espera Laborales",
      "webhookId": "a0000000-0000-0000-0000-00000000wa01"
    },
    {
      "parameters": {
        "content": "el splitInBatches (Loop)\nes un Dosificador de Chunks\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        -208
      ],
      "typeVersion": 1,
      "id": "9eefa57f-b39c-4b2d-b44e-c210090907d5",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Laborales": {
      "main": [
        [],
        [
          {
            "node": "Qdrant  Laborales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Estudios": {
      "main": [
        [],
        [
          {
            "node": "Qdrant  Estudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop General": {
      "main": [
        [],
        [
          {
            "node": "Qdrant  General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Loader  Fines Laborales",
            "type": "ai_textSplitter",
            "index": 0
          },
          {
            "node": "Loader  Continuidad Estudios",
            "type": "ai_textSplitter",
            "index": 0
          },
          {
            "node": "Loader General",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant  Laborales",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant  Estudios",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant  General",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar flujo": {
      "main": [
        [
          {
            "node": "Lee Los PDFs Laborales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lee los PDFs  Continuidad Estudios",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lee PDFs General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lee Los PDFs Laborales": {
      "main": [
        [
          {
            "node": "Extraer PDF  Laborales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lee los PDFs  Continuidad Estudios": {
      "main": [
        [
          {
            "node": "Extraer PDF  Estudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lee PDFs General": {
      "main": [
        [
          {
            "node": "Extraer PDF  General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF  Laborales": {
      "main": [
        [
          {
            "node": "Loop Laborales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF  Estudios": {
      "main": [
        [
          {
            "node": "Loop Estudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer PDF  General": {
      "main": [
        [
          {
            "node": "Loop General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant  Laborales": {
      "main": [
        [
          {
            "node": "Espera Laborales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant  Estudios": {
      "main": [
        [
          {
            "node": "Espera Estudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant  General": {
      "main": [
        [
          {
            "node": "Espera General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera Estudios": {
      "main": [
        [
          {
            "node": "Loop Estudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera General": {
      "main": [
        [
          {
            "node": "Loop General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loader  Fines Laborales": {
      "ai_document": [
        [
          {
            "node": "Qdrant  Laborales",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Loader  Continuidad Estudios": {
      "ai_document": [
        [
          {
            "node": "Qdrant  Estudios",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Loader General": {
      "ai_document": [
        [
          {
            "node": "Qdrant  General",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Espera Laborales": {
      "main": [
        [
          {
            "node": "Loop Laborales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "86e9e85e-6c06-43ba-a759-cf01262891c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30722f337168db714d2bcb5e70369b51ca932b7b864906159f4c0fc1b2f9639a"
  },
  "id": "FEsrugtzEwI0dS2a",
  "tags": []
}