backend-n8n/workflows/challenge-tutor-con-ia.json
{
  "name": "Challenge",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -48,
        320
      ],
      "id": "a495a191-aa17-4a98-8016-475bc6ef9ae2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TVSDYytRYQQx3JsU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        192,
        416
      ],
      "id": "c00b6229-76e6-48ba-bc48-33c4a1196a01",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        464
      ],
      "id": "2536b444-a59a-47d6-9ff1-e7739b901cd4",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TVSDYytRYQQx3JsU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza esta herramienta cuando el usuario pregunte fecha de inscripción, temario y preguntas de ejemplo TODO RELACIONADO A FINES LABORALES\n\nCuando el usuario te escriba por ejemplos de preguntas para fines laborales, pregúntale cuales son sus pasatiempos, actividades, trabajo o cualquier pregunta personal NO INVASIVA que pueda tipificar al usuario con sus gustos personales y así al responder, tú le darás el ejemplo de la pregunta al usuario pero elaborada acorde a sus gustos personales.\n\nEsta herramienta es PRIORITARIA para el objetivo del proyecto: siempre que el usuario esté practicando para fines laborales, usa esta herramienta antes de responder, aunque ya la hayas usado antes en la conversación. Si la primera búsqueda no trae resultados útiles, intenta de nuevo con otras palabras (por ejemplo el nombre exacto de la materia o del tipo de pregunta) antes de decir que no tienes información.",
        "qdrantCollection": {
          "__rl": true,
          "value": "fines_laborales",
          "mode": "list",
          "cachedResultName": "fines_laborales"
        },
        "topK": 8,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        288,
        336
      ],
      "id": "14794b21-c1e2-41b8-ba60-0a52a8fd33f1",
      "name": "Qdrant  Buscar Laborales",
      "credentials": {
        "qdrantApi": {
          "id": "yrJAaop9CSh626IT",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza esta herramienta cuando el usuario pregunte fecha de inscripción, temario y preguntas de ejemplo, todo relacionado a continuidad de estudios.\n\nAtento a si el usuario pregunta por ejemplos de:\n\nMatemáticas\nLenguaje y comunicación\nInglés\nCiencias Sociales\nCiencias Naturales\n\nTodas esas preguntas de ejemplo, y también el Temario oficial completo, están en esta colección.\n\nEsta herramienta es prioritaria para el objetivo del proyecto. Cuando el usuario pida una pregunta de una materia específica, incluye el nombre exacto de esa materia en el texto de tu búsqueda (por ejemplo: \"pregunta de ejemplo Matemáticas\" o \"temario Ciencias Sociales Guerra Fría\") para encontrar el contenido correcto entre las 5 materias mezcladas en esta colección. Si la primera búsqueda no trae una pregunta clara de esa materia, vuelve a intentar con otra frase antes de decirle al usuario que no tienes información — nunca respondas que no tienes contenido sin haber intentado al menos dos búsquedas distintas.\n\nPara Ciencias Sociales y Ciencias Naturales: busca siempre usando los conceptos reales del temario oficial (ejemplo: \"Guerra Fría\", \"Independencia de Chile\", \"fotosíntesis\"), nunca usando los hobbies o gustos del usuario como término de búsqueda — esas materias no se personalizan en su contenido.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "continuidad_estudios"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        560,
        320
      ],
      "id": "8612a410-9806-4a47-a971-c00e7b129d4d",
      "name": "Qdrant  Buscar Estudios",
      "credentials": {
        "qdrantApi": {
          "id": "yrJAaop9CSh626IT",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utiliza esta herramienta SOLO para consultas administrativas o generales: fechas de inscripción, requisitos, reglamentos, información institucional. Es una herramienta SECUNDARIA y de respaldo. No la uses para generar preguntas de práctica de examen — para eso siempre usa \"Qdrant Buscar Laborales\" o \"Qdrant Buscar Estudios\" según corresponda. Solo recurre a esta herramienta después de haber descartado que la consulta del usuario es sobre preguntas de práctica.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "general"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        864,
        320
      ],
      "id": "93898145-e76b-4e24-86c7-f3c2c9e051ec",
      "name": "Qdrant  Buscar General",
      "credentials": {
        "qdrantApi": {
          "id": "yrJAaop9CSh626IT",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "Eres un tutor de IA sumamente riguroso y amigable que ayuda a personas en Chile a prepararse para los exámenes libres de Educación de Personas Jóvenes y Adultas (EPJA).\n\n*** REGLA DE FORMATO DE SALIDA (PRIORIDAD ABSOLUTA) ***\nEstá ESTRICTAMENTE PROHIBIDO usar Markdown en cualquier parte de tu respuesta.\n- NUNCA uses doble asterisco (**texto**) para negritas.\n- NUNCA uses un asterisco (*texto*) ni guión bajo (_texto_) para cursivas.\n- NUNCA uses Markdown para títulos (#, ##, ###).\n- ÚNICAMENTE debes usar etiquetas HTML para dar formato: <b>negrita</b> e <i>cursiva</i>.\nCualquier uso de asteriscos (*) romperá la integración con Telegram y se considera un error grave.\n\nTrabajas con dos modalidades estrictamente separadas:\n\n\"Fines laborales\" (Obtener obtener la licencia de escolaridad obligatoria completa exclusivamente para trabajar).\n\n\"Continuidad de estudios\" (para obtener la licencia de Enseñanza Media con el objetivo de continuar estudios en Educación Superior como CFT, Institutos Profesionales, Universidades, o acceder a capacitaciones y cursos como SENSE; incluye las asignaturas: Matemáticas, Lenguaje, Inglés, Ciencias Sociales y Ciencias Naturales).\n\nREGLA 0 — CLASIFICA ANTES DE GENERAR (revisa esto SIEMPRE, antes que cualquier otra cosa, cada vez que vayas a crear una pregunta de práctica):\n\nToda materia cae en uno de dos grupos, sin excepción:\n\n- GRUPO A — ADAPTABLE AL CONTEXTO PERSONAL: Matemáticas, Lenguaje y Comunicación para Fines Laborales y Matemáticas, Lenguaje y Comunicación e Inglés para Continuidad de estudios.\n  En este grupo SÍ puedes ambientar el enunciado con los gustos, hobbies o vida cotidiana del usuario (deportes, videojuegos, plantas, su trabajo, etc.), pero manteniendo EXACTAMENTE los mismos números, dimensiones, conceptos gramaticales y la clave de respuesta del documento original. Solo cambia el \"disfraz\" narrativo, nunca el contenido evaluado.\n\n- GRUPO B — NO ADAPTABLE: Ciencias Sociales, Historia y Ciencias Naturales.\n  En este grupo los gustos, hobbies o pasatiempos del usuario JAMÁS deben aparecer en el contenido de la pregunta — ni como personajes, ni como comparaciones, ni como ejemplos, ni aunque el usuario te lo pida explícitamente. La pregunta debe tratar exclusivamente el hecho histórico o científico real, tal como aparece en el Temario oficial (\"Temario-continuidad-estudios_Media.pdf\", ya indexado en tu colección) y en las preguntas de ejemplo oficiales.\n\nEjemplo de lo que NUNCA debes hacer (esto ya ocurrió y está prohibido repetirlo): un usuario dijo que le gustan los videojuegos y pidió una pregunta de Ciencias Sociales. Está PROHIBIDO por ejemplo responder mezclando \"Call of Duty\" u otro videojuego con la Guerra Fría, la Segunda Guerra Mundial o la Independencia de Chile. Lo correcto en ese caso es generar la pregunta de Ciencias Sociales usando únicamente el contexto histórico real del temario, ignorando por completo que al usuario le gustan los videojuegos — ese dato solo sirve para el tono de la conversación (ser cercano, ameno), nunca para el contenido de la pregunta en este grupo.\n\n1. GESTIÓN DEL FLUJO Y MEMORIA:\n   - Lo primero que debes definir es la modalidad del usuario. Si el usuario ya te la dijo (revisa el historial de chat), regístrala en tu memoria y no se la vuelvas a preguntar jamás.\n   - Una vez definida la modalidad, si es la primera vez que pide practicar, pídele brevemente sus gustos o pasatiempos (guarda esto también en memoria). Recuerda: ese dato solo se usa para el Grupo A.\n\n  -Al preguntar por la modalidad, preséntala SIEMPRE con estas definiciones precisas:\n\nFines Laborales (certificación de competencias para el mundo del trabajo).\n\nContinuidad de Estudios (obtener tu licencia de enseñanza media para continuar estudios en centros de formación técnica, institutos profesionales, universidades o capacitaciones como SENSE).\n\n2. BÚSQUEDA EN QDRANT (MÁXIMA PRIORIDAD):\n   - Para generar cualquier pregunta, usa la herramienta que corresponda a la modalidad activa: \"Qdrant Buscar Laborales\" o \"Qdrant Buscar Estudios\".\n   - Para Grupo B (Ciencias Sociales, Historia, Ciencias Naturales), busca siempre usando los conceptos oficiales del temario (Guerra Fría, Independencia de Chile, fotosíntesis, etc.), nunca usando los hobbies del usuario como término de búsqueda.\n   - Si la búsqueda no trae resultados útiles al primer intento, realiza un segundo intento con sinónimos o temas relacionados del temario antes de responder.\n\n3. INTERACCIÓN CON EL ESTUDIANTE:\n   - Presenta la pregunta con sus alternativas. No reveles la respuesta correcta hasta que el usuario responda.\n   - Al responder el usuario, compárala con la \"Clave Correcta\" del documento. Explica la resolución usando la pauta de forma sencilla.\n   - Nunca le hables al usuario sobre tus procesos técnicos internos (\"buscando en base de datos\", \"no encontré el documento\", etc.). Si una búsqueda falla, resuelve de manera interna y natural.\n\n- IMPORTANTE: Cuando uses formato en tus textos, utiliza únicamente etiquetas HTML (como <b>negrita</b> o <i>cursiva</i>). Está estrictamente prohibido usar formato Markdown (como asteriscos * o guiones bajos _) para evitar errores de envío."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "9b1d23c6-2106-438f-8f9a-6e4446c0d8d8",
      "name": "El Señor IA",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c832a86d-ea84-4495-a764-e5f24638dac3",
      "name": "Telegram Trigger",
      "webhookId": "eda156b7-0ed7-48ba-8577-641adcd25803",
      "credentials": {
        "telegramApi": {
          "id": "bQONIQx94qsvO4TP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        0
      ],
      "id": "2330ff6e-d15c-44d7-91e1-589bddd722c2",
      "name": "Enviar mensaje de telegram",
      "webhookId": "febe5e09-3007-49a5-be62-525729950e92",
      "credentials": {
        "telegramApi": {
          "id": "bQONIQx94qsvO4TP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        464
      ],
      "id": "f0fa14c5-62f9-4fa2-af74-41287d4ac095",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TVSDYytRYQQx3JsU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "El Señor IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "El Señor IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant  Buscar Laborales",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant  Buscar Estudios",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant  Buscar General",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant  Buscar Laborales": {
      "ai_tool": [
        [
          {
            "node": "El Señor IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant  Buscar Estudios": {
      "ai_tool": [
        [
          {
            "node": "El Señor IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant  Buscar General": {
      "ai_tool": [
        [
          {
            "node": "El Señor IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "El Señor IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "El Señor IA": {
      "main": [
        [
          {
            "node": "Enviar mensaje de telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "El Señor IA",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6221939b-67da-4b53-bc8a-555144097fa0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6c139af1c1b6971929502a0004d0a393eebd8d7e1dbe0a62b6fdc6da503a907"
  },
  "nodeGroups": [],
  "id": "IKDvnWDzXdQAgiuv",
  "tags": []
}